mixin category(category)
    li.list-group-item.category-item(data-category=category.name) #[i(class=category.icon)] #{category.name}

mixin commandsInfo(latestGuild)
    li.list-group-item.commands  .commands-info
      h3 Prefix Information
      p Guild ID: #{latestGuild.guildId}
      p Prefix: #{latestGuild.prefix}

mixin qrCodeInfo(qrCommand)
    li.list-group-item.commands.qr-code-info
        h3 QR Code Information
        if qrCommand
            p Word: #{qrCommand.word}
            p QR Code:
            img(src=qrCommand.url, alt='QR Code')
        else
            p No QR Code commands yet.

